.app {
  height:100vh;
  width:100vw;
  position:relative;
  z-index: 1;
  /* display:flex; */
}

.control-wrapper{
  position:absolute;
  top:5vh;
  right:15vw;
  display:flex;
  justify-content: center;
  align-items: center;  
}


.chart {
  position:relative;
  width:90vw;
  left:5vw;
  top:5vh;
}

.input-wrapper {
  position:relative;
  margin-top:5vh;
  width:40vw;
  height:30vh;
  left:30vw;
}

#outlined-multiline-flexible{
  width:40vw;
  height:30vh;
}

.input-button {
  display: inline-block;
  width:10vw;
  padding-right:5vw;
  position: relative;
  left:10vw;
}